html, body {
    height: 112%;
    margin: 0;
  }
  
  .candidate-registration-page {
    margin-top: 70px; 
    padding: 20px;
    max-height: calc(100vh - 70px); 
    overflow-y: auto; 
    box-sizing: border-box; 
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  button {
    margin-top: 100px;
  }
  
  .candidate-registration-page::-webkit-scrollbar {
    display: none;
  }
  
  .candidate-registration-page::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 4px; 
  }
  
  .candidate-registration-page::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  .candidate-registration-page::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 4px; 
  }
  
  
  
  
  
  