.cast-votes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.vote-form {
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-items: center; /* Ensures the button is aligned with the form */
}

.vote-box {
  background-color: #c2c9cd;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(85, 42, 42, 0.251);
  text-align: center;
  width: 300px;
}

.vote-title {
  background-color: rgb(41, 93, 102);
  color: white;
  font-size: 18px;
  padding: 5px;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.voter-label, .candidate-label {
  display: block;
  font-weight: bold;
  color: black;
}

.voter-input, .candidate-input {
  background-color: #fbfcfa;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  margin-top: 5px;
  color: black;
  font-size: 16px;
  appearance: none;  /* Remove the default dropdown styling */
}

select option {
  color: black;  /* Ensure text inside the options is black */
  background-color: white;  /* Background color of dropdown options */
  padding: 10px;  /* Spacing inside the options for better visibility */
}

select:focus {
  outline: none;  /* Remove the focus outline */
  border: 2px solid #ab2020;  /* Highlight the border when focused */
}


.cast-button {
  background-color: #ab2020;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cast-button:hover {
  background-color: #388e3c;
}

.button-container {
  margin-left: 20px;
}

.candidates-button {
  background-color: #820aba;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.candidates-button:hover {
  background-color: #5c0e87;
}

.candidate-table {
  margin-top: 30px;
  width: 70%;
}

.candidate-table table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.candidate-table th, .candidate-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.candidate-table th {
  background-color: #f2f2f2;
}

.candidate-title {
  font-size: 24px;
  margin-bottom: 10px;
}
