/* src/CandidateRegistration.css */

.voter-registration-page {
    margin-top: 70px; /* Add margin to the top for spacing */
    padding: 20px;
  }
  
  .text-center {
     text-align: cente
  }
  
  .form-group {
    margin-bottom: 35px; /* Add space between form groups */
  }
  
  button {
    margin-top: 100px; /* Add space above the button */
  }


/* VoterRegistration.css */
.input-error {
  border-color: red;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}
